/* countdown.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #282c35; /* Dark blue-gray, similar to Home page */
    color: #61dafb; /* Light blue, similar to Home page */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /* Change to column direction */
    height: 100vh;
}

.countdown-container {
    text-align: center;
    flex: 1; /* Take up remaining vertical space */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#countdown {
    font-size: 24px; /* Adjusted font size for a more compact display */
}

.back-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #383838; /* Dark gray background */
    color: #61dafb; /* Light blue text */
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
}

.back-btn:hover {
    background-color: #333; /* Slightly darker gray on hover */
}
