body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #282c35;
    color: #fff;
}

.login-container {
    text-align: center;
}

h1 {
    color: #61dafb;
    font-size: 24px;
}

.forum-title {
    font-size: 36px;
    font-weight: bold;
    color: #ff5133;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.login-form {
    max-width: 300px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid #61dafb;
    border-radius: 6px;
    background-color: #373d49;
    color: #61dafb;
}

input:focus {
    border-color: #ff5133;
    outline: none;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

.error-message {
    color: #e74c3c;
    margin-top: 10px;
}

.back-button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #ff5133;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 5%; /* Adjusted the top position */
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    background-color: #e74c3c;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.custom-alert span.close-btn {
    cursor: pointer;
    font-size: 20px;
    float: right;
}