/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f0f0f0; /* Light gray background */
    transition: filter 0.3s ease-in-out;
}

.blurred {
    filter: blur(5px);
}

.title-bar {
    background-color: #282c35;
    color: #61dafb;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.menu-btn {
    font-size: 24px;
    cursor: pointer;
    color: #61dafb;
}

.menu {
    display: none;
    background-color: rgba(40, 44, 53, 0.9); /* Dark blue-gray with transparency */
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 10px; /* Curved corners */
}

.menu a {
    color: #61dafb;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

/* Adjusted styles to make the menu options appear like a centered popup */
.menu.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    z-index: -1;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* White background for the content area */
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    border-radius: 10px; /* Curved corners */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for the content area */
    z-index: 1;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .title-bar {
        padding: 5px;
    }

    .menu {
        padding: 15px;
    }

    .menu a {
        margin-bottom: 10px;
    }

    .container {
        padding: 10px;
        margin: 10px;
    }
}

/* Add these styles to your existing CSS file or create a new one */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c3e50; /* Dark background color */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff; /* White text color */
    z-index: 1000;
}

.popup-content {
    position: relative;
}

#notificationText {
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

