body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    transition: background-color 0.5s ease;
}

header {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 1em 0;
    transition: background-color 0.5s ease;
}

nav {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 1em 0;
    transition: background-color 0.5s ease;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    margin: 0 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #3d566e;
    color: #ffcc00;
}

.contact-section {
    background-color: #fff;
    padding: 2em;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

form {
    max-width: 400px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #3498db;
}

p {
	text-align: center;
}

label {
    display: block;
    margin-bottom: 0.5em;
}

input,
textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #3498db;
}

button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal.active {
    display: flex;
    opacity: 1;
}

.modal-content {
    background: #fff;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal.active .modal-content {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translateY(-10px);
    }
    10%, 90% {
        opacity: 1;
        transform: translateY(0);
    }
}

footer {
    background-color: #34495e;
    color: #ecf0f1;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: background-color 0.5s ease;
}
